@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-display: optional;
    font-size: 18px;
    line-height: 1.2;
    height: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
}

.header {
    flex: 0 0 auto;
    background-color: #212429;
    margin-top: 75px;
    z-index: 1000;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 92px;
    background: #002e45;
}

.navbar__wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.hamb {
    display: none;
}

.popup {
    display: none;
}

.navbar__wrap .telefon {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center; 
    margin-left: auto;
    order: 4;
}
/* a.telefon:active,
a.telefon:hover,
a.telefon {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center; 
    margin-left: auto;
} */

.navbar__wrap .menu {
    display: flex;
}

.navbar__wrap .menu > li {
    display: flex;
    align-items: stretch;
}

.navbar__wrap .menu > li > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.logo{
    background-image: url("logo-1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    cursor: pointer;
}

/* .logotip{
    height: 80px;
    background-image: url("logo-1.svg");
} */

.main{
    background: url(main_4_2_test4.webp);
    background-size:cover;
}

.title_container{
    text-align: center;
}

.title_container h1{
    font-size: 64px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding-top: 80px;
}

.title_container h2{
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    padding-top: 50px;
}

.btn-default{
    width: 400px;
    height: 60px;
    color: white;
    text-align: center;
    text-decoration: solid;
    border: 2px solid orange;
    background-color: orange;
    border-radius: 15px;
    font-size: 26px;
    cursor: pointer;
    margin: 50px 14px 0px 14px;
}

.services{
    margin-top: 90px;
    border-radius: 15px;
    background-color:azure;
    opacity: 0.9;
    overflow:hidden;
    padding-bottom: 20px;

}

.services_item div{
    text-align: center;
    display:inline-block;
    max-width: 24%;
    padding-top: 10px;
    flex-wrap: wrap;
}

.services_item img{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
    height: 8vh;
}

.services_item h3{
    text-align: center;
    font-size: 22px;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
}

.services_item p{
    padding-top: 5px;
    text-align: center;
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}

.advantages{
    background-color: #1C3246;
    scroll-behavior: smooth;
}

.advantages_title h2{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding-top: 50px;
}

.advantages_items{
    width: 100%;
    margin-top: 50px;
}

.advantages_items_block div{
    text-align: center;
    max-width: 33%;
    display:inline-block;
    padding: 50px;
}

.advantages_items_block[id="block_about_us"] div{
    text-align: center;
    max-width: 33%;
    display:inline-block;
    padding: 10px;
}

.advantages_item img{
    text-align: center;
    margin-bottom: 15px;
    height: 8vh; 
}

.advantages_item h3{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.advantages_item p[class="about_us_text"] {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    color: white;
}
.advantages_item p{
    text-align: center;
    font-size: 26px;
    color: white;
    font-weight: bold;
}

.investors{
    background-color: #1d5978; 
}

.investors_title h2{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding-top: 50px;
}

.investors_spisok img{
    margin-top: 150px;
    height: 100%;
    width: 59%;
}

.list3a {
    padding-top: 50px;
    display: inline-block;
    list-style: none;
    counter-reset: li;
    width: 40%;
}    

.list3a li {
    position: relative;
    margin-bottom: 1.5em;
    border: 3px solid black;
    padding: 0.9em;
    border-radius: 4px;
    background: #1C3246;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans";
    font-size: 24px;
    font-weight: 1000;
    font-style: italic;
}

.list3a span{
    font-size: 18px;
    font-weight: 400;
}

.list3a li:before {
    position: absolute;
    top: -0.7em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 36px;
    font-weight: bold;
    color: white;
    background: #212429;
    border-radius: 50%;
    counter-increment: li;
    content: counter(li);
}

.forma_whatsapp{
    background-color: #002e45;
}

.forma_whatsapp_block {
    display: block;
    text-align: center;
}

.forma_whatsapp_block h2 {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    font-size: 36px;
}

.forma_whatsapp_block button{
    text-align: center;
    width: 400;
    height: 60px;
    text-align: center;
    border: 2px solid #43d854;
    background-color: #43d854;
    border-radius: 15px;
    color: white;
    font-size: 36px;
    cursor: pointer;
    margin-top: 50px; 
    margin-bottom: 50px; 
}

.about_us{
    background: url(imgonline-com-test.webp);
    background-size:cover;
}

.Ipoteka{
    background: url(image_4670459_7855099_test.webp);
    background-size: cover;
}

.Ipoteka h2{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    color: #002e45;
}

.banki{
    text-align: center;
}

.banki h3{
    font-size: 24px;
    color: #666;
    font-style: oblique;
}

.discount_item__1{
    margin-top: 50px;
    border-radius: 15px;
    background-color:white;
    opacity: 0.8;
}

.discount_item__1 div{
    text-align: center;
    display:inline-block;
    max-width: 33%;
    padding-top: 20px;
}

.discount_item img{
    text-align: center;
    margin-bottom: 10px;
    height: 8vh;
}

.discount_item p{
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin: 20px; 
}

.forma_with_select_item {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.forma_with_select_item h2 {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 26px;
}

.forma_with_select_item button[class="btn btn-default"]{
    text-align: center;
    width: 200px;
    height: 50px;
    text-align: center;
    border: 2px solid #43d854;
    background-color: #43d854;
    border-radius: 15px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 40px; 
}

.zayavka{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 15px;
    background-color:aliceblue;
}

.zayavka_title h3{
    padding-top: 20px;
    font-size: 26px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.contact_form{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_inputs input{
    margin-top: 20px;
    margin-bottom: 5px;
    background: rgba(210, 214, 220, 0.93);
    font-size: 16px;
    padding-left: 15px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 15px;
    width: 450px;
    height: 40px;
    box-sizing: border-box;
}

.form_inputs textarea{
    margin-top: 10px;
    background: rgba(210, 214, 220, 0.93);
    width: 450px;
    height: 60px;
    resize: none;
    padding-top: 10px;
    padding-left: 15px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 15px;
    font-size: 18px;
    margin-bottom: 15px;
}

.contact_form input[type="submit"]{
    text-align: center;
    width: 300px;
    height: 60px;
    text-align: center;
    border: 2px solid orange;
    background-color: orange;
    border-radius: 15px;
    color: white;
    font-size: 36px;
    cursor: pointer;
    margin: 20px 14px 0px 14px;
    margin-bottom: 20px;
}

.rabota{
    margin-top: 50px;
    border-radius: 15px;
    background-color:white;
    opacity: 0.8;
}
.route_title h3{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 10px;
}

.route_items div{
    text-align: center;
    display:inline-block;
    max-width: 19%;
    padding: 20px;
}

.route_item h4{
    text-align: center;
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
}

.route_item h5{
    text-align: center;
    font-size: 18px;
    color: black;
    margin-bottom: 20px; 
}

.forma {
    background-color: #1C3246;
}

.Parts{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.leftPart{
    flex: 0 0 49%;
}

.form_title h2 {
    color: #fff;
    margin-top: 40px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 26px;
}

.round{
    border-radius: 150px; 
    border: 4px solid orange; 
    box-shadow: 0 0 7px #666;
    height: 250px;
    width: 250px;
}

.form_title h3 {
    margin-top: 30px;
    color: #fff;
    font-size: 28px;
}

.form_title p {
    margin-top: 10px;
    color: #666;
    font-style: oblique;
    font-size: 18px;
}

.coc{
    margin-top: 30px;
    margin-bottom: 30px;
}

.leftPart a[class="wtf"]{
    background-color: #43d854;
    font-size: 26px;
    padding: 10px;
    border-radius: 30px;
    color: #fff;
}

.leftPart a[class="tg"]{
    margin-left: 20px;
    border-radius: 30px;
    font-size: 26px;
    padding: 10px;
    color: #fff;
    background-color: #0088cc;
}

.rightPart {
    flex: 0 0 49%;
}

.rightPart h2 {
    color: #fff;
    margin-top: 40px;
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 26px;
}

.cont {
    margin-top: 90px;
    padding: 10px;
}

.cont a{
    color: #fff;
    font-size: 22px;
}

.social {
    margin-top: 90px;
}

.social p {
    color: #fff;
    font-size: 22px;
}

.social img {
    margin-top: 20px;
    padding: 10px;
    height: 80px;
    width: 80px;
}

.PR {
    margin-top: 20px;
}

.PR p {
    color: white;
    font-size: 22px;
    /* text-decoration:underline; */
}

.PR p[class="copyright"] {
    margin-top: 10px;
    font-size: 15px;
    color:darkgrey;
    font-style: italic;
}

.popup_thx{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.overlay_thx{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
}


.popup_thx_body{
    position: relative;
    background: white;
    z-index: 999999;
    text-align: center;
    padding: 40px 45px;
    border-radius: 10px;
}

.popup_thx_body h3{
    font-size: 26px;
    font-weight: bold;
}

.popup_thx_body p{
    padding-top: 5px;
    color: #666;
    font-size: 16px;
}

.popup_thx.active{
    display: flex;
}

.close_thx{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 22px;
    cursor: pointer;
}
.back{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    padding: 5px;
    border-radius: 15px;
    color: white;
    background: orange;
}

::placeholder{
    text-align: center;
}

.wapp1 a {
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: none;
    width: 64px;
    height: 64px;
    font-size: 2.3em;
    color: rgb(255, 255, 255);
    text-shadow: rgb(31 76 118) 0px 1px 0px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgb(90 153 220 / 70%) 0px 0px 0px 0px, rgb(171 203 233) 0px 1px 0px inset;
    border-radius: 100%;
    background: url(min_wats_1.webp) 0% 0% / cover no-repeat rgb(255, 255, 255);
    cursor: pointer;
    animation: 2.3s cubic-bezier(0.6, 0, 0, 1) 0s infinite normal none running pulse;
    z-index: 999999;
}





